.emoji1 {font-size: 140px;

}

.emoji2 {font-size: 60px;

}

.emoji3 {font-size: 85px;

}

.emoji4 {font-size: 40px;
    
}
.emoji5 {font-size: 45px;

}

.emoji6 {font-size: 70px;
    
}
.emoji7 {font-size: 160px;

}

.emoji8 {font-size: 99px;
    
}
.emoji9 {font-size: 59px;

}

.emoji10 {font-size: 50px;
    
}