body {
    background-color: #eae7fb;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 200px;
}

main {
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 15px; 
    margin: auto;
    padding: 50px 40px 80px 40px;
    box-shadow: 0px 2px 9px 0px rgba(184,175,175,0.75);
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

p {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    padding: 15px;
}

div {
    color: grey;
    height: 35px;
    width: 70px;
    border: 1px solid #eae7fb;
    border-radius: 5px;
    padding-bottom: 15px;
    margin: 5px;
}

button {
    font-size: 20px;
    color: white;
    background-color: #8373f7;
    height: 60px;
    width: 300px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px rgba(184,175,175,0.75);
}

.fifteen {
    background-color: #8373f7;
    color: white;
}