* {
    font-family: 'Bebas Neue', cursive;
}

h1 {font-size: 80;

}

h2 {font-size: 60;
    
}

h3 { font-size: 40;
    
}

.pen {color: blue;

}

.hac {color: orange;
    
}

.hec {color: green;
    
}

.can {color: red;
    
}
