.c00{color: rgb(10, 10, 114);

}
.c05{color: rgb(5, 5, 214);

}
.c10{color: rgb(75, 75, 216);

}
.c15{color: rgb(44, 158, 193);

}
.c20{color: rgb(108, 193, 188);

}
.c25{color: rgb(247, 244, 159);
    
}
.c30{color: rgb(245, 200, 95);

}
.c35{color: rgb(249, 163, 64);

}
.c40{color: rgb(243, 99, 99);

}
.c45{color: rgb(255, 0, 0);

}
.c50{color: rgb(122, 6, 6);

}