* {
    background-color: #212121;
    color: #fafafa;
}

h1 {
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

p {
    font-size: 48px;
    font-weight: 600; 
}

.nombre {
    color: blueviolet;
}

.qa {
    color:red
}

.frontend {
    color:blue
}